{% extends 'index.html' %}

{% block title %}Wishlist{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row">
        {% for item in wishlist_items %}
        <div class="col-sm-4 mb-3">
            <div class="card" style="width: 200px;">
                <img src="{{ item.product.product_image.url }}" class="card-img-top" style="height: 90px;" alt="{{ item.product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.product.title }}</h5>
                    <p class="card-text">Price: {{ item.product.discounted_price }}</p>
                    <a href="{% url 'product-detail' item.product.id %}" class="btn btn-primary">View Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main-content %}
